.firstmaincompo {
    padding-bottom: 20px;
}

.firstcompo1 {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    gap: 25px;

}

.bio1 {
    padding: 15px 10px;

}

.listpad1 {
    padding-left: 25px;
}