.maindetail {
    display: flex;
    justify-content: space-around;
}

.detailbutton {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.dfbtn {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 50%;
    left: 50%;
    gap: 20px;
    padding: 10px 0;

}



@media screen and (max-width: 800px) {

    .maindetail {
        display: flex;
        flex-direction: column;
    }


    .detailbutton {
        width: 90%;
        display: flex;
        padding: 15px;
    }

    .dfbtn {

        position: relative;
        bottom: 0;
        left: 0;
        padding: 10px 0;

    }
}