.maincompo {
    display: flex;

}

.firstcompo {
    border-right: 1px solid;
    background-color: beige;
    padding: 15px;
    width: 100%;
}

.secondcompo {
    padding-left: 5px;
    background-color: aquamarine;
    padding: 15px;
    width: 100%;
}



@media screen and (max-width: 600px) {

    .maincompo {
        display: flex;

    }

    .profile {
        font-size: small;
    }

    .shortprofession {
        font-size: smaller;
    }

    .firstcompo {
        width: 30vw;
    }

    .secondcompo {
        width: 70vw;
    }

    .address {
        font-size: smaller;
        word-wrap: break-word;

    }

    .address>span {
        padding-top: 15px;
    }

}