.firstcompo4 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(134, 112, 156);
    padding: 15px;
    gap: 25px;
}

.profile4 {
    text-align: center;
}

.bio {
    padding: 15px 15px;
    background-color: rgb(134, 112, 156);

}

.secondcompo4 {
    padding: 15px;
    padding-top: 0;
}




@media screen and (max-width: 600px) {

    * {

        font-size: small;
    }

    .address4 {
        font-size: smaller;
        word-wrap: break-word;
    }
}